#screen {
    display: flex;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    flex-wrap: row;
    justify-content: space-around;
    min-width: 800px;
    width: 100%;
    min-height: 300px;
    height: 100%;
}

.getToken {
    width: 300px;
    height: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.monsterStats {
    padding-left: 0.5em;
}